* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #5D0E41;
    color: white;
    height: 5rem;
    line-height: 5rem;
}


.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;

}

.choice {
    height: 165px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.choice:hover {
    opacity: 50%;
    cursor: pointer;



}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board {
    color: #5D0E41;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    font-size: 2rem;
    margin-top: 3rem;
}

#msg {
    color: white;
    justify-content: center;
    background-color: #A0153E;
    width: 20rem;
    display: flex;
    padding: 1rem;
    border-radius: 3rem;
    font-size: 2rem;
}

#message-container {
    margin-top: 3rem;
    justify-content: center;

    display: flex;
}